/* Estilo del scrollbar */

#viewer-wrapper canvas {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 5px; /* Prueba con un tamaño más notable */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
  font-size: 14px;
}

#header,
#sidebar,
#preview {
  position: absolute;
}

#header {
  height: 4em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#sidebar {
  width: 20%;
  left: 0;
  top: 4em;
  bottom: 0;
  overflow-y: scroll;
}

#preview {
  width: 80%;
  right: 0;
  top: 4em;
  bottom: 0;
}

#header > * {
  height: 2em;
  margin: 0 0.5em;
}

#login {
  font-family: ArtifaktElement;
  font-size: 1em;
}

#header .title {
  height: auto;
  margin-right: auto;
}

#tree {
  margin: 0.5em;
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    top: 3em;
    bottom: 75%;
  }
  #preview {
    width: 100%;
    top: 25%;
    bottom: 0;
  }
}

.icon-hub:before {
  background-image: url(https://www.svgrepo.com/show/29728/app.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
  background-size: cover;
}

.icon-project:before {
  background-image: url(https://www.svgrepo.com/show/392016/marketing-office-project.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
  background-size: cover;
}

.icon-my-folder:before {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Icons8_flat_folder.svg);
  background-size: cover;
}

.icon-item:before {
  background-image: url(https://www.svgrepo.com/show/528250/file-text.svg);
  background-size: cover;
}

.icon-version:before {
  background-image: url(https://www.svgrepo.com/show/373623/git.svg);
  background-size: cover;
}

#sidenav {
  position: fixed;
  right: -300px;
  top: 4em;
  bottom: 0;
  width: 300px;
  background: white;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
  overflow-y: auto;
}

#sidenav.active {
  right: 0;
}

.sidenav-toggle {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  z-index: 1000;
  background: white;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-left: '0';
  padding-right: '0';
}

.sidenav-toggle.btn {
  padding: 0 !important; /* Elimina padding del botón */
}

/* Cuando el sidenav está activo */
body.sidenav-active .sidenav-toggle {
  right: calc(300px + 20px); /* 300px del ancho del sidenav + 20px de margen */
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.3s ease;
}

/* Versión móvil */
@media (max-width: 768px) {
  body.sidenav-active .sidenav-toggle {
    right: calc(80% + 20px);
  }
}

.sidenav-toggle:hover {
  background: #f0f0f0;
}

#preview {
  right: 0;
  transition: all 0.3s ease;
}

#sidenav.active ~ #preview {
  right: 300px;
}

@media (max-width: 768px) {
  #sidenav {
    width: 80%;
    right: -80%;
  }

  #sidenav.active {
    right: 0;
  }

  #sidenav.active ~ #preview {
    right: 80%;
  }
}

.nav-menu {
  padding-left: 0.5rem;
}

/* Efecto de desplazamiento hacia la izquierda para cada subnivel */
.nav-item {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s, padding-left 0.2s;
  border-radius: 4px;
}

.nav-header:hover {
  background-color: #f5f5f5;
}

.nav-subitems {
  display: none; /* Ocultar subelementos por defecto */
  padding-left: 1.5rem;
}

.nav-item.active .nav-subitems {
  display: block; /* Mostrar subelementos cuando el item está activo */
}

/* Cada subnivel tendrá una separación adicional hacia la izquierda */
.nav-item.level-1 .nav-header {
  padding-left: 1.5rem;
}

.nav-item.level-2 .nav-header {
  padding-left: 2.5rem;
}

.nav-item.level-3 .nav-header {
  padding-left: 3.5rem;
}

.nav-subitem {
  display: block;
  padding: 0.4rem 1rem;
  color: #495057;
  text-decoration: none;
  font-size: smaller;
}

.nav-subitem:hover {
  background-color: #f8f9fa;
}

.toggle-icon {
  transition: transform 0.3s ease;
  font-size: 0.8em;
  margin-left: 1rem;
}

.nav-item.active .nav-subitems {
  max-height: 500px;
}

.nav-item.active .toggle-icon {
  transform: rotate(180deg);
}

/*  */

#loadingSpinner.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



#atributos {
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.attributes-header {
  font-size: smaller;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #dee2e6;
  border-left: 2px solid #dee2e6;
  font-weight: 600;
  color: #495057;
  border-radius: 5px;
}

.no-content-message {
  font-size: smaller;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #dee2e6;
  border-left: 2px solid #dee2e6;
  font-weight: 600;
  color: #495057;
  border-radius: 5px;
}

.attributes-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.attributes-table th {
  background-color: #f8f9fa;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #dee2e6;
  font-weight: 600;
  color: #495057;
}

.attributes-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dee2e6;
  vertical-align: top;
}

.attribute-key {
  color: #6c757d;
  white-space: nowrap;
  width: 60%;
}

.attribute-value {
  color: #2c3e50;
  font-weight: 500;
  width: 40%;
}

.attributes-table tr:last-child td {
  border-bottom: none;
}

/* Estilos para el diseño de acordeón */
.sidenav-section {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #f5f7f8;
  border-radius: 4px;
  margin: 4px;
}

.section-header:hover {
  background-color: #e9ecef;
}

.section-header h4 {
  margin: 0;
  font-weight: 600;
  color: #2c3e50;
  font-size: 0.95em;
  flex-grow: 1;
}


.section-content {
  display: none;
  padding: 8px 15px;
  animation: fadeIn 0.3s ease;
}

.section-content.active {
  display: block;
}

.toggle-icon {
  transition: transform 0.3s ease;
  font-size: 0.8em;
  color: #6c757d;
}

.section-header.active .toggle-icon {
  transform: rotate(90deg);
}

.material-icons {
  font-size: 14;
  color: #6c757d;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/*  */

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para que los bordes redondeados funcionen */
}

table th,
table td {
  padding: 12px 16px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

table th {
  background-color: black; /* Color de fondo azul */
  color: white; /* Texto blanco */
  font-weight: 600; /* Texto en negrita */
}

table tr:nth-child(even) {
  background-color: #f8f9fa; /* Fondo alternado para filas pares */
}

table tr:hover {
  background-color: #e9ecef; /* Fondo al pasar el mouse */
}

table td {
  border-bottom: 1px solid #dee2e6; /* Borde inferior */
}

table tr:last-child td {
  border-bottom: none; /* Eliminar borde de la última fila */
}

/* Estilos para el modal */

#customModal {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 800px;
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para que los bordes redondeados funcionen */
}

#customModal > div:first-child {
  background: #007bff; /* Color de fondo azul */
  color: black; /* Texto blanco */
  padding: 12px 16px; /* Espaciado interno */
  font-weight: 600; /* Texto en negrita */
  cursor: move; /* Cursor de mover */
}

#customModal > div:first-child span {
  float: right;
  cursor: pointer;
  font-size: 18px;
}

#customModal > div:first-child span:hover {
  color: #ff4d4d; /* Color rojo al pasar el mouse */
}

#customModal > div:last-child {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

/* Estilos para el botón "Ver" */

.view-button {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano */
  font-size: 14px; /* Tamaño de fuente */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.view-button:hover {
  background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
  transform: translateY(-1px); /* Efecto de elevación */
}

.view-button:active {
  background-color: #004080; /* Color de fondo al hacer clic */
  transform: translateY(0); /* Restablecer la elevación */
}

.resizable {
  resize: both;
  overflow: auto;
  min-width: 300px; /* Ancho mínimo */
  min-height: 200px; /* Altura mínima */
}

.selected-row {
  /* background-color: #e0f7fa; / / Color de fondo para la fila seleccionada */
  border-bottom: 2px solid #007bff; /* Subrayado azul */
}

/* Icon toolbar */


.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 200px;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#viewerContainer {
  display: flex;
  flex-direction: row;
}

#thumbnailPanel {
  width: 200px; /* Ajusta el ancho según sea necesario */
  overflow-y: auto;
}

/* Añadir en main.css */
#pdfThumbnails {
  scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5;
}

#pdfThumbnails::-webkit-scrollbar {
  width: 6px;
}

#pdfThumbnails::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#pdfThumbnails::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}